extends layout

block content
  header
    h1 GitQuake
  div.quakearea
  script#quakeplate-template(type='text/template').
    <div class="quakeplate <%= name %>">
      <h2><%= name %></h2>
    </div>
  script#quakemsg-template(type='text/template').
    <div class="commit" style="left: <%= num * 160 %>px">
      <span class="hash"><%= hash %></span>
      <span class="author"><%= author %></span>
      <p class="date"><%= date %></p>
    </div>
