doctype 5
html
  head
    title GitQuake
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 GitQuake
    div#table-log
      div#table-branch
  script#git-branch(type='text/template')
    div.branch
      h2 <%= branch %>
  script#git-commit(type='text/template')
    div.commit
      span.hash <%= hash %>
      span.author <%= author %>
      p.date <%= date %>
  script(src='/javascripts/jquery-2.0.3.min.js')
  script(src='/javascripts/underscore-min.js')
  script(src='/javascripts/script.js')
