doctype 5
html
  head
    title GitQuake
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 GitQuake
    table#monitor
      thread
        tr
          td hoge

  script#quakeplate-log(type='text/template').
    <th>
      
    </th>
  script#quakemsg-template(type='text/template').
    <div class="commit" data-hash="<%= hash %>" data-date="<%= date[1] + ' ' + date[2] %>" style="left: <%= num * 100 %>px">
      <span class="hash"><%= hash %></span>
      <span class="author"><%= author %></span>
      <p class="date"><%= date[1] + ' ' + date[2] %></p>
    </div>
  script#quake-branch(type='text/template').
    <tr>
      <th><%= name %></th>
    </tr>
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/script.js')
    
